<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{asset('node_modules/bootstrap/dist/css/bootstrap.css')}}">
    <title>{%block title%} Document {%endblock%}</title>
</head>
<body>
<div class="container">
    <h1>Navbar</h1>
    <hr>
    {%block body %}
        je suis de contenu
    {%endblock%}
    <hr>
    <h2>footer</h2>
</div>

</body>

</html>